*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
   
    padding: 10px;
    display: flex;
    gap: 10px;
}

.child{
    border: 2px solid black;  
}
@media(max-width:800px){
    .parent{
        flex-direction: column;
    }
}
